// Colours
$lightning-bright: rgba(235,227,165,1);
$lightning-dark: rgba(231,180,4,1);

$fire-bright: rgba(235,205,169,1);
$fire-dark: rgba(230,91,6,1);

$grass-bright: rgba(196,235,164,1);
$grass-dark: rgba(136,207,21,1);

$water-bright: rgba(164,213,236,1);
$water-dark: rgba(8,196,231,1);

$psychic-bright: rgba(218,165,236,1);
$psychic-dark: rgba(135,18,223,1);

$fighting-bright: rgba(235,179,169,1);
$fighting-dark: rgba(241,31,10,1);

$normal-bright: rgba(201,210,223,1);
$normal-dark: rgba(126,148,178,1);

$trainer-bright: rgba(81,99,149,1);
$trainer-dark: rgba(97,67,133,1);

$energy-bright: rgba(244,208,63,1);
$energy-dark: rgba(22,160,133,1);

// Other

$border-radius-small: 5px;
$border-radius-medium: 15px;
$box-radius: $border-radius-medium;

$header-margin: 1rem 0 1rem 0;
$header-padding: 5rem 0 5rem 0;